td {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  font-size: 60px;
}

.red {
  border-color: red;
}

#message-alert {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.current-player {
  font-weight: bold;
  color: red;
}
